header {
    
        h1 {
            font-weight: normal;
            font-size: 10vh;
            margin: 1vh;
        }
    
        nav {
            background-color: white;
            color: rgb(140,142,144);
            
            ul {
                margin-bottom: 0;
                display: flex;
                //justify-content: center;
    
                li {
                    margin: 0;
    
                    figure {
                        margin: 1vw;
                        img {
                            width: 75px;
                            height: 75px;
                        }
                        // img:hover {
                        //     background-color: $lightblue;
                        //     border-radius: 10px;
                        // }
                        figcaption {
                            text-align: center;
                        }
                    }
                }
                li:hover {
                    //width: 65px;
                    //margin: 5px;
                    background-color: $lightblue;
                    border-radius: 10px;
                    border: 1px solid gray;
                    text-align: center;

                    img {
                        width: 65px;
                        //margin: 5px;
                    }

                    figcaption {
                        font-size: .65em;
                    }
                }
            }
        }
    }